
:root {
  /* common values */


  /* navigation bar */
  --nav-height: 60px;

  /* body */
  --body-margin-top: var(--nav-height);

  /* colors */
  --primary-color: rgba(69, 71, 75, 1);
  --background-color: #FEFBF9;
  --accent-color: #EEECEA;
}

body {
  background-color: var(--background-color);
  left: 0px;
  margin-top: calc(var(--nav-height) + 40px);
  height: 80vh;
  padding: 20px;
}
